.decorator.name, .decorator.punctuation:not(.block), .import.keyword {
    font-family: 'Monaspace Radon';
    font-size: 1.1em
}
.attribute-name {
    font-family: 'Monaspace Radon';
    font-size: 1.1em
}

.comment:not(.punctuation) {
    font-family: 'Monaspace Radon';
    font-size: 1.1em
}
